<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Contact - Beginner and Intermediate Billiard Guide</title>
    <link rel="icon" type="image/x-icon" href="img/none.png" alt="img icon">
</head>

<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html"><li>Index</li></a>
        <a href="contact.html" style="background-color: gray;"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>How to contact<hr></h1>
            <p><strong>A contact page for RJ. Follow my LinkedIn, reach out to contribute to this guide on GitHub, 
                <br>or message me to play at the bar sometime on Instagram!</strong></p>
        </div>
        <div class="contact-field">
            <div class="contact">
                <img src="img/linkedin.png" alt="email icon" width="10%" height="10%" class="contact-img">
                <div class="contact-info">
                    <h1>LinkedIn<hr></h1><a href="https://www.linkedin.com/in/rjfredrickrico/" target="_blank">RJ Fredrick Rico</a>
                </div>
            </div>
            <div class="contact">
                <img src="img/github.png" alt="github icon" width="10%" height="10%" class="contact-img">
                <div class="contact-info">
                    <h1>Github<hr></h1><a href="https://github.com/RJRico17/poolguide" target="_blank">RJRico17</a>
                </div>
            </div>
            <div class="contact">
                <img src="img/gmail.png" alt="gmail icon" width="10%" height="10%" class="contact-img">
                <div class="contact-info">
                    <h1>Gmail<hr></h1><a href="mailto:fredrickalexander1727@gmail.com" target="_blank">fredrickalexander1727@gmail.com</a>
                </div>
            </div>
            <div class="contact">
                <img src="img/instagram.png" alt="instagram icon" width="10%" height="10%" class="contact-img">
                <div class="contact-info">
                    <h1>Instagram<hr></h1><a href="https://www.instagram.com/__rjjjj__/" target="_blank">@__rjjjj__</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>