<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Beginner and Intermediate Billiard Guide</title>
</head>

<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html"><li>Index</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>How to contact</h1>
        </div>
        <div class="contact-field">
            <div class="contact">
                <img src="/views/img/none.png" alt="social media logo" width="45px" height="45px">
                <h2>LinkedIn: <a href="">RJ Fredrick Rico</a></h2>
            </div>
            <div class="contact">
                <img src="/views/img/none.png" alt="social media logo" width="45px" height="45px">
                <h2>Email: <a href="">fredrickalexander1727@gmail.com</a></h2>
            </div>
            <div class="contact">
                <img src="/views/img/none.png" alt="social media logo" width="45px" height="45px">
                <h2>Instagram <a href="">@__rjjjj__</a></h2>
            </div>
        </div>
    </main>
</body>
</html>