<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Glossary - Beginner and Intermediate Billiard Guide</title>
    <link rel="icon" type="image/x-icon" href="img/none.png" alt="img icon">
</head>

<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html" style="background-color: gray;"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Glossary<hr></h1>
        </div>
        <div class="gloassary-list">
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#aim">Aiming</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#form">Bridge</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#basicspin">Draw Shot</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#basicspin">Follow Shot</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#form">Form</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#kick">Kick Shot</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#posplay">Positional Play</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#advspin">Right/Left Spin</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#form">Stance</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#basicspin">Stop Shot</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#tan">Tangent Line</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="/views/videos.html#basicspin">Top/Bottom Spin</a></h1>
                <hr>
                <p>desc</p>
            </div>
            
        </div>
    </main>
</body>

</html>