<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Glossary - Beginner and Intermediate Billiard Guide</title>
    <link rel="icon" type="image/x-icon" href="img/none.png" alt="img icon">
</head>

<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html" style="background-color: gray;"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Glossary<hr></h1>
            <p><strong>A defintion list of terms used in videos, headings link you the specific videos covering those topics</strong></p>
        </div>
        <div class="gloassary-list">
            <div class="glossary-entry">
                <h1><a href="videos.html#aim">Aiming "Ghost Ball"</a></h1>
                <hr>
                <p>A method in where the player lines up an imaginary ghost ball behind the object ball they are attempting to shoot. This technique can also be replace with a cue stick.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#form">Bridge</a></h1>
                <hr>
                <p>The form your non dominant shooting hand makes in order for a cue stick to smoothly glide through it.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#basicspin">Draw Shot</a></h1>
                <hr>
                <p>A shot in where bottom spin is imparted in order to make the cue ball come back to the player, also known as backspin</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#basicspin">Follow Shot</a></h1>
                <hr>
                <p>A shot in where top spin is imparted in order to make the cue ball roll forward from the player</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#form">Form</a></h1>
                <hr>
                <p>Specifically the upper body form in where your elbow and head is directly above the cue stick to ensure accurate aim.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#kick">Kick Shot</a></h1>
                <hr>
                <p>A shot where the cue ball hits a rail on the table prior to any contact with an object ball.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#posplay">Positional Play</a></h1>
                <hr>
                <p>A strategic plan in order to correctly position the cue ball behind the next ball effeciently.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#advspin">Right/Left Spin</a></h1>
                <hr>
                <p>When the cue ball is struct along the X axis. Left or right spin is imparted respective to where the player makes contact.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#form">Stance</a></h1>
                <hr>
                <p>Specifically the lower body stance in where your dominant foot is over the line of aim while both knees are slightly bent at 45 degrees.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#basicspin">Stop Shot</a></h1>
                <hr>
                <p>A shot in where stun on the ball is imparted in order for the cue ball to stop dead after contact with an object ball.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#tan">Tangent Line</a></h1>
                <hr>
                <p>A line perpindicular to the point of contact when aiming shots, when played with stun the cue ball will 100% of the time follow this line.</p>
            </div>
            
            <div class="glossary-entry">
                <h1><a href="videos.html#basicspin">Top/Bottom Spin</a></h1>
                <hr>
                <p>When the cue ball is struct along the Y axis. Top or bottom spin is imparted respective to where the player makes contact.</p>
            </div>
            <br>
        </div>
    </main>
</body>

</html>