<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Beginner and Intermediate Billiard Guide</title>
</head>

<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html"><li>Index</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Glossary</h1>
        </div>
        <div class="gloassary-list">
            <ul>
                <li><a href="/views/videos.html#aim">Aiming</a></li>
                <li><a href="/views/videos.html#form">Bridge</a></li>
                <li><a href="/views/videos.html#basicspin">Draw Shot</a></li>
                <li><a href="/views/videos.html#basicspin">Follow Shot</a></li>
                <li><a href="/views/videos.html#form">Form</a></li>
                <li><a href="/views/videos.html#kick">Kick Shot</a></li>
                <li><a href="/views/videos.html#posplay">Positional Play</a></li>
                <li><a href="/views/videos.html#advspin">Right/Left Spin</a></li>
                <li><a href="/views/videos.html#form">Stance</a></li>
                <li><a href="/views/videos.html#basicspin">Stop Shot</a></li>
                <li><a href="/views/videos.html#tan">Tangent Line</a></li>
                <li><a href="/views/videos.html#basicspin">Top/Bottom Spin</a></li>
            </ul>
        </div>
    </main>
</body>

</html>