<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Beginner and Intermediate Billiard Guide</title>
</head>
<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Welcome to the guide!</h1>
        </div>
        <div class="intro">
            <div class="intro-left">
                <h1>What is this guide?</h1>
                <hr>
                <p>
                    The Beginner and Intermediate Billiard Skill Guide is a document and video guide created to teach both beginning and intermediate skills to amateur players in a clear, thorough, and non-confusing way.
                    For those who want to learn pool in order to connect with friends, learn a new discipline, or pursue the game as a professional. This document will serve as the first step, as well multiple progress propelling steps afterwards.
                </p>
            </div>
            <div class="intro-right">
                <img src="img/chua.jpg" alt="A picture of Johann Chua" height="100%" width="100%">
            </div>
        </div>
        <div class="heading">
            <h1>Message from the creator</h1>
        </div>
        <div class="message">
            <iframe width="929" height="522" src="https://www.youtube.com/embed/veJqKti5z0A?si=zghmrAuZRiOfATI3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
</body>
</html>