<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Home - Beginner and Intermediate Billiard Guide</title>
    <link rel="icon" type="image/x-icon" href="img/none.png" alt="img icon">
</head>
<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html" style="background-color: gray;"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Welcome to the guide!<hr></h1>
        </div>
        <div class="intro">
            <div class="intro-left">
                <h1>What is this guide?</h1>
                <hr>
                <p>
                    The Beginner and Intermediate Billiard Skill Guide is a website and video guide created to teach both beginning and intermediate skills to amateur players.
                    The purpose behind this website was to help beginners and intermediate players alike improve and hone the skills of the game they love.
                </p>
            </div>
            <div class="intro-right">
                <img src="img/chua.jpg" alt="A picture of Johann Chua" height="100%" width="100%">
                <!-- <h5>Johann Chua winning the 2024 Hanoi Open (via Matchroom Pool 2024)</h5> -->
            </div>
        </div>
        <div class="intro">
            <div class="intro-left">
                <h1>How to use this guide</h1>
                <hr>
                <p>
                    This website has four main sections. The home, videos, glossary, and contact page.<br><br>
                    <strong><a href="index.html">Home</a></strong> is where you will find introductory information.<br><br>
                    <strong><a href="videos.html">Videos</a></strong> is where you will find tutorial videos created by RJ.<br><br>
                    <strong><a href="glossary.html">Glossary</a></strong> is where you will find specific terms and their descriptions.<br><br>
                    <strong><a href="contact.html">Contact</a></strong> is where you will find RJ's contact information.<br>
                </p>
            </div>
            <div class="intro-right">
                <img src="img/efren.jpg" alt="A picture of Efren Reyes" height="100%" width="100%">
                <!-- <h5>A picture of Efren Reyes (via AZBilliards)</h5> -->
            </div>
        </div>
        <div class="heading">
            <h1>Message from RJ</h1>
            <hr>
        </div>
        <div class="message">
            <iframe width="929" height="522" src="https://www.youtube.com/embed/veJqKti5z0A?si=zghmrAuZRiOfATI3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <br><br>
    </main>
</body>
</html>