<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Videos - Beginner and Intermediate Billiard Guide</title>
    <link rel="icon" type="image/x-icon" href="img/none.png" alt="img icon">
</head>
<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html" style="background-color: gray;"><li>Videos</li></a>
        <a href="glossary.html"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Beginners<hr></h1>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="form">Form and Fundamentals</h1>
                <hr>
                <p>
                    The secret to mastering any activity is mastering the basics first and foremost.
                    This video will go over stance, holding a pool cue, and bridge hand techniques.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="aim">The "Ghost Ball" Method</h1>
                <hr>
                <p>
                    The "Ghost Ball" method is the simplest and easiest way for a beginner to visually analyze the point of aim needed for a good pot.
                    This video will teach you how to preform the technique and train you develop aiming basics.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="basicspin">Basic Spin or English</h1>
                <hr>
                <p>
                    Professionals use spin all the time in high-level pool, professional or not that doesn't mean you can't too! The easiest type of spin to learn comes in one axis.
                    This video will teach you three different types of shots using three different types of spin. Mastering this spin and increase winning exponentially.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="heading">
            <h1>Intermediate<hr></h1>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="advspin">Advanced Spin or English</h1>
                <hr>
                <p>
                    Using both the X and Y axis' now for spin to achieve angles and action not possible before. This video will show you using
                    right and left hand english, combining them with top or bottom, and finding an inuitave way to account for each spin.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="posplay">Positional Play</h1>
                <hr>
                <p>
                    Most amateur players begin playing by smashing every ball in. However, if we use only the first three techniques learned, we are able to incorporate basic positional play.
                    This video will go over how to see 1-2 shots ahead and plan for the next shot by executing the best possible current shot.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="kick">Kick Shot</h1>
                <hr>
                <p>
                    Most people think the diamonds on pool tables are for decor. That is far from the truth as professionals use them everyday to calculate angles and paths.
                    This video will go over simple mathematical points on the table that will allow you to kick the white ball anywhere you'd like.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="tan">Tangent Line</h1>
                <hr>
                <p>
                    Pool is a combination of physics, geometry, and sometimes goodluck. However, if we know the geometrical path of the ball before hand, we don't need to rely on luck as often.
                    This video goes over the tangent line, how to predict where the white ball will head after contact, and how to manipulate that path using spin or English.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
</body>
</html>