<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Videos - Beginner and Intermediate Billiard Guide</title>
    <link rel="icon" type="image/x-icon" href="img/none.png" alt="img icon">
</head>
<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html" style="background-color: gray;"><li>Videos</li></a>
        <a href="glossary.html"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Beginners<hr></h1>
            <p><strong>Three important skills for beginners to master and develop</strong></p>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="form">Form and Fundamentals</h1>
                <hr>
                <p>
                    The secret to mastering any activity is mastering the basics first and foremost.
                    This video will go over stance, holding a pool cue, and bridge hand techniques.
                    Techniques apply for those who are left-handed or ambidextrous, mirror the form shown in the video.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/DBYuAk9llKM?si=-WDTVxoUGcjyAjE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="aim">The "Ghost Ball" Method</h1>
                <hr>
                <p>
                    The "Ghost Ball" method is the simplest and easiest way for a beginner to visually analyze the point of aim needed for a good pot.
                    This video will teach you how to preform the technique and train you develop aiming basics.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/lZ9zTzQv7kE?si=3orkM1rXAmPyKABH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="basicspin">Basic Spin or English</h1>
                <hr>
                <p>
                    Basic spin focuses on only thee types of spin that will allow the player to make the cue ball react in different ways after contact with an object ball.
                    This video will teach you three different types of shots using three different types of spin along just the Y-axis. Mastering just these three spins can make future shots very easy.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/eE4wltnTO7Q?si=JsiSx8NVP0cNsEUP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="heading">
            <h1>Intermediate<hr></h1>
            <p><strong>Advanced topics for beginners to turn into strong contenders</strong></p>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="advspin">Advanced Spin or English</h1>
                <hr>
                <p>
                    Advanced spin begins to use the X-axis to create four different combinations of spin that allows the player to smoothly move the cue ball around.
                    This video will show you using right and left hand english, combining them with top or bottom, and discovering how spin affects the path of a ball.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/8Svddz9uw4Q?si=OB552i0nLBeNe55c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="posplay">Positional Play</h1>
                <hr>
                <p>
                    Basic positional play is incorporated when the player uses a predetermined path they want the cue ball to follow to allow them to make every shot they take the easiest.
                    This video will go over how to see one to two shots ahead and plan for the next shot by executing the best possible current shot using skills we learned.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/BONSZMeQeTs?si=JfPF9-m-9QbkRws4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="kick">Kick Shot</h1>
                <hr>
                <p>
                    The kick shot is when a ball bounces off one rail to hit a object ball, although seems to be hard there are simple visual points to aim this shot.
                    This video will go over simple mathematical points on the table that will allow you to kick the white ball anywhere you'd like.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/rW7KRZRZ7y4?si=k5zrSH0suIU_rRVy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="tan">Tangent Line</h1>
                <hr>
                <p>
                    Pool is a combination of physics, geometry, and sometimes good luck. However, if we know the geometrical path of the ball before hand, we don't need to rely on luck as often.
                    This video goes over the tangent line, how to predict where the white ball will head after contact, and how to manipulate that path using spin or English.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/9Ts6fSIl9Tk?si=XWJJVwFftPoHz-pB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
</body>
</html>