<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Beginner and Intermediate Billiard Guide</title>
</head>
<body>
    <header>Beginner and Intermediate Billiard Guide</header>
    <nav>
        <a href="index.html"><li>Home</li></a>
        <a href="videos.html"><li>Videos</li></a>
        <a href="glossary.html"><li>Glossary</li></a>
        <a href="contact.html"><li>Contact</li></a>
    </nav>
    <main>
        <div class="heading">
            <h1>Beginners</h1>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1 id="form">Form and Fundamentals</h1>
                <hr>
                <p>
                    The secret to mastering any activity is mastering the basics first and foremost.
                    This video will go over stance, holding a pool cue, and bridge hand techniques.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1>The "Ghost Ball" Method</h1>
                <hr>
                <p>
                    The "Ghost Ball" method is the simplest and easiest way for a beginner to visually analyze the point of aim needed for a good pot.
                    This video will teach you how to preform the technique and train you develop aiming basics.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1>Basic Spin or English</h1>
                <hr>
                <p>
                    Professionals use spin all the time in high-level pool, professional or not that doesn't mean you can't too! The easiest type of spin to learn comes in one axis.
                    This video will teach you three different types of shots using three different types of spin. Mastering this spin and increase winning exponentially.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="heading">
            <h1>Intermediate</h1>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1>Advanced Spin or English</h1>
                <hr>
                <p>
                    Professionals use spin all the time in high-level pool, professional or not that doesn't mean you can't too! The easiest type of spin to learn comes in one axis.
                    This video will teach you three different types of shots using three different types of spin. Mastering this spin and increase winning exponentially.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1>Positional Play</h1>
                <hr>
                <p>
                    Professionals use spin all the time in high-level pool, professional or not that doesn't mean you can't too! The easiest type of spin to learn comes in one axis.
                    This video will teach you three different types of shots using three different types of spin. Mastering this spin and increase winning exponentially.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1>Kick Shot</h1>
                <hr>
                <p>
                    Professionals use spin all the time in high-level pool, professional or not that doesn't mean you can't too! The easiest type of spin to learn comes in one axis.
                    This video will teach you three different types of shots using three different types of spin. Mastering this spin and increase winning exponentially.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-article">
            <div class="video-article-left">
                <h1>Tangent Line</h1>
                <hr>
                <p>
                    Professionals use spin all the time in high-level pool, professional or not that doesn't mean you can't too! The easiest type of spin to learn comes in one axis.
                    This video will teach you three different types of shots using three different types of spin. Mastering this spin and increase winning exponentially.
                </p>
            </div>
            <div class="video-article-right">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/iGjSvpfu9rE?si=PPcXBzMpt7lQjqBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
</body>
</html>